nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')= pageText.headTitle
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse(collapse="navCollapsed")
            ul.nav.navbar-nav.navbar-right
                - if(username)
                    li
                        a(href='/tab')= pageText.navCreate
                li
                    a(href='/list')= pageText.navFolder
                li
                    a(href='/about')= pageText.navAbout
                li
                    a(href='/feedback')= pageText.navFeedback
                - if(username)
                    li(dropdown)
                        a(href='#', dropdown-toggle)= username
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a(href='/logout')= pageText.navLogout
                - else
                    li
                        a(href='/login')= pageText.navLogin