extends ./layout.jade

block content
    table.row-border.hover.table
        thead
            tr
                th= pageText.listPage.bandColumn
                th= pageText.listPage.nameColumn
                th= pageText.listPage.dateColumn
        tbody
            each tab in tabsData
                tr
                    td= tab.band
                    td
                        a(href='/tab/vona')= tab.title
                    td= tab.postedDate